
@{
    ViewBag.Title = "Lejebetingelser";
    Layout = "~/Views/_MainLayout.cshtml";
}

<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 hidden-xs">
                <img class="SlideMeIn" src="~/Content/Images/gfx/agreement.png" />
            </div>
            <div class="col-sm-6 col-xs-12">
                <h2 class="PopIn">Husk at læse vores lejebetingelser inden udlån</h2>
                <h3 class="PopIn">Vi ønsker at beskytte dig og vores maskiner</h3>

            </div>
        </div>
    </div>
</header>
<div class="container" id="agreements">
    <div class="row">
        <div class="col-sm-1 col-xs-2">
            <h2>§1</h2>
        </div>
        <div class="col-sm-11 col-xs-10">
            <p>
                Der beregnes leje pr. kalenderdag (pr. dato), Der regnes med en 8 timers
                arbejdsdag. Arbejdes der ud over 8 timer betales der 1 dags ekstra leje pr.
                påbegyndt 8 timer.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1 col-xs-2">
            <h2>§2</h2>
        </div>
        <div class="col-sm-11 col-xs-10">
            <p>
                Der beregnes leje pr. kalenderdag (pr. dato), Der regnes med en 8 timers
                arbejdsdag. Arbejdes der ud over 8 timer betales der 1 dags ekstra leje pr.
                påbegyndt 8 timer.
            </p>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-1 col-xs-2">
            <h2>§3</h2>
        </div>
        <div class="col-sm-11 col-xs-10">
            <p>
                Der beregnes leje pr. kalenderdag (pr. dato), Der regnes med en 8 timers
                arbejdsdag. Arbejdes der ud over 8 timer betales der 1 dags ekstra leje pr.
                påbegyndt 8 timer.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-1 col-xs-2">
            <h2>§4</h2>
        </div>
        <div class="col-sm-11 col-xs-10">
            <p>
                Der beregnes leje pr. kalenderdag (pr. dato), Der regnes med en 8 timers
                arbejdsdag. Arbejdes der ud over 8 timer betales der 1 dags ekstra leje pr.
                påbegyndt 8 timer.
            </p>
        </div>
    </div>

</div>